body {
	font-family: 'Poppins', sans-serif;
}

main {
	background-color: #1c1d25;
	color: white;
	height: 90vh;
	font-size: 40px;
	padding: 10px;
}

header {
	margin-left: 80px;
	margin-bottom: 100px;
}

.text {
	margin-left: 80px;
	margin-bottom: 200px;
}

@media (min-width: 1500px) {
	main {
	    background-color: #1c1d25;
	    color: white;
	    height: 100vh;
	    font-size: 40px;
	    padding: 10px;
}

	h1{
		font-size: 90px;
	    margin: 0;
}
}

h1{
	font-size: 40px;
	margin: 0;
}

p {
	margin: 0;
	font-size: 30px;
	font-weight: 300;

}

footer {
	margin-left: 80px;
	padding-bottom: 10px;
	display: flex;
}

.social {
	color: white;
	margin-right: 10;
}