body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #1c1d25;
	color:white;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

footer {
	background-color: #1c1d25;
	display: flex;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.social {
	color: white;
	margin-left: 80px;
	font-size: 30px;
}