body {
	font-family: 'Poppins', sans-serif;
	background: darkgrey;
}

h1{
	font-size: 90px;
	margin: 0;
}

p {
	margin: 0;
	font-size: 30px;
	font-weight: 300;
}

.text {
	margin-left: 80px;
	margin-bottom: 200px;
}

.socials {
	display: flex;
}

.social {
	color: black;
	margin-left: 80px;
}